@font-face{
    font-family: "SFPro";
    src: url("../font/SF-Pro-Display-Regular.otf");
}

@font-face{
    font-family: "SFPro";
    src: url("../font/SF-Pro-Display-Bold.otf");
    font-weight: bold;
}
/* src: url("LillyMae-Regular.otf"); */
/* @import url("LillyMae-Regular.otf"); */

*{
    font-family: "SFPro", sans-serif;
    margin: 0;
    border: 0;
    /* border: 1px solid red; */
}

a, a:hover{
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    padding: 0;
}

/*? HEADER START  */

header{
    height: 100px;
    margin-bottom: 50px;
    background-color: rgb(36, 39, 49);
    color: white;
}

header > div{
    width: 85%;
}
 /*? HEADER END */

 .general{
    min-height: 100vh;
}

button:focus{
    outline: none;
}

.main{
    flex-grow: 1;
}

#main__container{
    width: 85%;
}

.main__search-bar{
    box-sizing: border-box;
    border: 2px solid rgb(40, 42, 58);
    border-radius: 20px;
    width: 85%;
    height: 40px;
    padding: 0 8px
}

.main__search-bar input{
    border-bottom: 1px solid rgb(40, 42, 58);
}

.main__search-bar input:focus, .main__search-bar select:focus{
    outline: none;
}

.main__target{
    /* border: 1px solid rgb(124, 124, 124); */
    background-color: white;
    height: 310px;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    font-family: "SFPro";
    transition: 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
    position: relative;
}

.main__target:hover{
    transform: scale(1.02);
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.18);
    transition: 0.3s ease;
}

.main__target *{
    color: rgb(40, 42, 58);
}

input::placeholder{
    font-family: "SFPro";
    font-weight: bold;
}
.main__target__img{
    height: 40%;
    overflow: hidden;
}
.main__target__img img{
    width: 100%;
    transform: translateY(-30px);
}

.main__target__info{
    height: 60%;
}

.main__target__title{
    color: rgb(40, 42, 58);
    font-weight: bold;
    font-size: 18px;
}

.main__target__artist, .main__target__album{
    font-size: 15px;
    color: grey;
}

.main__target__artist{
    color: rgb(28, 135, 252);
}

.smallText{
    font-size: 14px;
}

.main__target__preview__btn{
    width: 35px;
    height: 35px;
    border:2px solid rgb(28, 135, 252);
    border-radius: 50%;
    position: relative;
    transition: 0.3s ease;
}

.main__target__preview__btn::after{
    content: "";
    width: 18px;
    height: 18px;
    border-style: solid;
    border-width: 9px 0px 9px 18px;
    border-radius: 2px;
    border-color: transparent transparent transparent rgb(28, 135, 252);
    position: absolute;
    top: 7px;
    left: 9px;
}

.main__target__preview__btn:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
}

.heart{
    position: absolute;
    /* fill: rgb(227, 239, 252); */
    bottom: 10px;
    right: 10px;
    height: 23px;
    width: 23px;
    transition: 0.3s ease;
    fill: rgb(28, 135, 252);
}

.heart:hover{
    transform: scale(1.2);
    fill: red;
    transition: 0.3s ease;
}

.heart:active{
    transform: scale(0.85);
    stroke: red;
    transition: 0.3s ease;
}

.st0{
    fill: none;
}
.st0-2{
    fill: red;
}

.fillHeart{
    fill: red;
}

.main__container__artist{
    width: 100%;
    /* border: 1px solid red; */
}

.main__container__artist--title{
    display: inline;
    color: rgb(40, 42, 58);
    border-bottom: 2px solid rgb(40, 42, 58);
}

.main__container__artist--title h5{
    font-size: 16px;
    color: rgba(40, 42, 58, 0.6);
}

a.main__container__artist--title:hover{
    color: rgba(40, 42, 58);
}

/*? FOOTER START  ?*/

footer{
    height: 60px;
    padding: 0 7%;
    font-weight: 700;
    background-color: rgb(36, 39, 49);
    border-radius: 15px 15px 0 0;
    color: white;
    font-weight: 300;
    margin-top: 50px;
}

footer > div > span:nth-of-type(1){
    margin-left: 10px;
}

footer a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 10px;
    transition: opacity 0.3s ease;
}

footer a:hover{
    opacity: 0.8;
    transition: 0.3s ease;
}

footer a img{
    margin-right: 5px;
}

footer a:hover img{
    fill: yellow;
}

/*? FOOTER END */